@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
/*
 * Globals
 * Basic Styling for Global HTML Elements
 */

body {
  font-family: 'Lato', 'sans-serif';
  font-weight: lighter;
  color: #606060;
  line-height:1.7em;
  background-color:#202020;
    font-size:17px;
}

a {-webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out; transition: .5s ease-in-out;}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #606060;
}
.wrapper.wrapper_main h1, .wrapper.wrapper_main h2, .wrapper.wrapper_main h3, .wrapper.wrapper_main h4, .wrapper.wrapper_main h5, .wrapper.wrapper_main h6 {color:#000;}

/*
* Helper classes
*/
.leading {font-size:1.5em; font-weight: lighter;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

/*
* UI KIT Resets
* Resets some of the UI Kit Default stylings
*/

.uk-navbar {background:none;}
.uk-navbar-nav li {margin:0 10px;}
.uk-navbar-nav li:hover {background:none;}
.uk-navbar-nav li a{color:#000;padding:0px;}
.uk-navbar-nav li.uk-active a, .uk-navbar-nav li a:hover{background-color:#FFD300;color:#000;border-bottom:2px solid #000;}


/*
* Basic Layout
* For Wrappers, Container, Rows etc.
*/

.wrapper {padding:100px 0;}
.wrapper.wrapper_nav {background:#FFD300; color:#fff;padding:20px 0}
.wrapper.wrapper_hero, .wrapper.wrapper_footer {background:#FFD300; color:#000; }
.wrapper.wrapper_hero h2 {font-size:10em; line-height: 1em; color:#000; font-weight:bold;}
.wrapper.wrapper_main {background:#fff;color:#444; background-size: cover;}
.wrapper.wrapper_credits {padding:40px 0; font-size:.75em;}
.wrapper.wrapper_top {background-color:#282828;} 
.wrapper.wrapper_bottom{background-color:#f8f8f8;color:#fff;background: url(../img/hero6.jpg);background-position: center center;}
.wrapper.wrapper_bottom h1, .wrapper.wrapper_bottom h2, .wrapper.wrapper_bottom h3, .wrapper.wrapper_bottom h4, .wrapper.wrapper_bottom h5, .wrapper.wrapper_bottom h6 {color:#fff;}
.wrapper.wrapper_footer h1, .wrapper.wrapper_footer h2, .wrapper.wrapper_footer h3, .wrapper.wrapper_footer h4, .wrapper.wrapper_footer h5, .wrapper.wrapper_footer h6 {color:#000;}
.wrapper.wrapper_credits hr {background:#444;border:none; border-bottom:1px solid #303030;margin-top:40px;}

/*
* Specific Typo
*/

h1.website_title {float:left; width:auto;color:#fff; font-size:.875em; text-transform:uppercase;line-height:1em; padding:5px 10px; margin:8px 30px 8px 0; border:1px solid #000;}
h1.website_title a {color:#000; text-decoration:none;}

/*
*Specific styles
*/
.sm_icons a {color:#000;padding:0 10px;}
.sm_icons a:hover{color:#fff;}